*, *::after, *::before {
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
  
}

body {
  font-family: "Montserrat", sans-serif;
  background:#1d1d21;
}

.container {
  width: 90%;
  margin: auto;
  height: 100vh;
  
}
  

/* Estilos para PC de escritorio */

/* MENÚ DE NAVEGACIÓN */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.navbar {
  position: fixed;
  width: 100%;
  background:#1d1d21;
  height: 80px;
  margin: 0 auto;
  z-index: 2;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: rgb(233, 222, 222);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover, a:focus {
  color: #6e988f;
  animation-name: animation-mouse-over;
  animation-duration: 1s;
  font-size: 1.05rem;
}

.navbar-container img {
  width: 200px;
}

/* HOME */
#home{
  background: url("images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-container {
  padding:80px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  font-size: 25px;
  
}
.home-container p {
  font-size: 20px;
  margin: 10px;
  color: rgb(233, 222, 222);
  font-weight: 500;
}


/* QUIENES SOMOS */
#quienessomos {
  background-color: whitesmoke;
	width: 100%;
  height: 100vh;
  padding-top: 10px;
	margin: auto;
	display: grid;
}
.quienessomos-content {
  grid-area: content;
  text-align: center;
  margin: 5%;
  padding: 50px 10px 30px 10px;
}
.quienessomos-title{
  font-size: 40px;
  margin: 10px;
  color: #6e988f;
  padding:10px;
}
.quienessomos-texto {
  justify-content: center;
  padding: 35px;
  margin: auto;
}


/* SERVICIOS */
#servicios {
  display: flex;
  background-color:#1d1d21;
  padding-top: 100px;
}


.servicios-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 50px 10px 30px 10px;
  width: 100%;
  margin: auto;
  min-height: 250px;
  height: 100vh;
}

.servicios-item {
  text-align: center;
  margin-bottom: 48px;
}
.servicios-title{
  font-size: 25px;
  margin: 10px;
  color: #6e988f;
  padding:10px;
}

.servicios-description p {
  font-size: 14px;
  margin: 10px;
  color: rgb(240, 240, 240);
  font-weight: 500;
}

/* clientes */

#clientes {
  background-color: whitesmoke;
	width: 100%;
  height: 100vh;
  padding-top: 100px;
	margin: auto;
}

.clientes-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  height: 100vh;
  margin: 5%;
}

.clientes-title{
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: #6e988f;
  padding:10px;
}

.clientes-item {
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.clientes-container img{
  width: 120px;
}

/* Contactenos */

#contactenos {
  background-color: #1d1d21;
  text-align: center;
	width: 100%;
  height: 100vh;
  padding-top: 60px;
	margin: auto;
}

.contactenos-container {
  width: 70%;
  margin: auto;
}

.contactenos-title{
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: #6e988f;
  padding:10px;
}


.contactenos-container input[type=text],input[type=email] {
  margin-top: 10px;
  background: #6e988f;
  caret-color: #fff;
  border: 1px solid #6e988f;
}

.contactenos-container input:focus {
  margin-top: 10px;
  color: #fff;
  background: #6e988f;
  border: 1px solid #6e9870;
}

.contactenos-container input::placeholder { 
  color: #fff;
  font-weight: 500;
 }

 .contactenos-container input[type=submit]:hover {
  background-color: #458348;
}

.contactenos-container textarea {
  margin-top: 10px;
  background: #6e988f;
  caret-color: #fff;
  border: 1px solid #6e988f;
}
.contactenos-container textarea:focus {
  margin-top: 10px;
  color: #fff;
  background: #6e988f;
  border: 1px solid #6e988f;
}


.contactenos-container textarea::placeholder { 
 color: #fff;
  font-weight: 500;
}

.contactenos-container invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 2px;
  font-size: 9px;
  color: #dc3545;
}

/* corte hasta 768px */

@media screen and (max-width: 768px){
  .navbar {
    height: 50px;
    margin: auto;
    opacity: 1;
   }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    
    display: block;
  }

  .navbar-container img {

    display: none;
  }

  .navbar-container {
    display: block;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    position: fixed;
    top:0;
    bottom: 0;
    padding-top: 50px;
    background: rgb(71, 68, 68);
    height: 50vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.5s ease-in-out;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  #home{
    display: flex;
    background: url("images/home-tablet-portrait2.jpg");
    background-size: 500px 550px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-container {
    align-items: right;
    justify-content: right;
    height: 100vh;
    padding: 50px;
  }

  #servicios{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .servicios-container{
    display: table-column;
    padding: 5px 1px 3px 1px;
    width: auto;
    height: 100vh;
  }
  .servicios-item {
    text-align: center;
    margin-bottom: 3px;
  }
  .servicios-title{
    font-size: 20px;
    margin: 5px;
    color: #6e988f;
    padding:5px;
  }
  .servicios-description p {
    font-size: 14px;
    margin: 3px;
    color: rgb(240, 240, 240);
  }

  #clientes{
    height: 100vh;
    padding-top: 50px
  }
  .clientes-container {
    display: flex;
    max-width: 768px;
    max-height: 70vh;
    width: -webkit-fill-available;
    text-align: center;
    justify-content: center; 
    margin: auto;
    flex-wrap: wrap;
  }
  .clientes-title{
    font-size: 25px;
    padding: -1px;
  }
  .clientes-item {
    padding: 5px;
    font-size: 50%;
    text-align: center;
    height: 0vh;
  }
  .clientes-container img{
    width: 100px;
  }
}

/* corte hasta 400px */
@media screen and (max-width: 400px) {
  .quienessomos-title{
    font-size: 25px;
  }
  .clientes-title{
    font-size: 25px;
  }
  .contactenos-title{
    font-size: 25px;
  }
}